# === Operating System Files ===
Thumbs.db
Desktop.ini
.DS_Store

# === IDE & Editor Configurations ===
*.sublime-workspace
.idea/

# === Project Build Binaries ===
bin/
*.exe
*.dll
*.so
*.dylib
*.out

# === Go Specific Files ===
frontend/frontend.exe
go.sum

# === Application Runtime Data & Backups ===
# This keeps your personal notes and database strictly local on Windows 11
data/cache/
data/downloads/
data/notes/*
data/study_vault.db

# If you want Git to track your empty data folders but ignore the content:
!data/notes/.gitkeep

*.ps1
*.sublime-package
*.sublime-project
guides/
.clangd
frontend_combined.txt
docs_combined.txt
targeted_frontend_files.txt

backend/build/
backend/conductino-data/
frontend/conductino-data/

#ignore wails specific files
frontend/build/
frontend/frontend/wailsjs


LOCAL_RELEASE.md